{% extends 'myapp/index.html' %}
{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Category <small class="text-muted">Welcome to Learnsphere</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Learnsphere</a></li>
                                                            <li class="breadcrumb-item">Payment</li>
                                                                                        <li class="breadcrumb-item active">Category</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>SR No</th>
                                    <th>PIC</th>
                                    <th>CATEGORY</th>
                                    <th colspan="2" style="text-align: center;">ACTION</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in call %}
                                <tr>
                                    <!-- <td>{{i.id}}</td> -->
                                    <td>{{ forloop.counter }}</td>  
                                    <td>
                                        <img src="{{ i.category_pic.url }}" height="50px" width="50px" />
                                    </td>
                                    <td>{{i.category_name}}</td>
                                    <td><a href="{% url 'edit_category' pk=i.id %}">Edit</a></td>
                                    <td><a href="{% url 'del_category' pk=i.id %}">Delete</a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

            </div>
</section>
{% endblock %}